
html{
  font-size: 100px;
}

*{
  padding: 0;
  margin: 0;
}
body,html,.stage,#app,.img-sec {
  width: 100%;
  height: 100%;
  background-color: #c1c1c1;
  color: #222;
}
/*.stage{*/
  /*position: relative;*/
/*}*/
.img-sec{
  position: relative;
  overflow: hidden;
  perspective: 1800px;
}
.img-fig{
  position: absolute;
  width: 3.2rem;
  height: 3.6rem;
  padding: 0.4rem;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  font-size: 0.15rem;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out ,left 1s ease-in-out,top 1s ease-in-out;
  transform-origin: 0 50% 0;
  cursor: pointer;

}
.img-fig.is-inverse{
  transform: translate(320px) rotateY(180deg);
}


.img-back{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  overflow: auto;
  color:#a7a0a2;
  font-size: 22px;
  line-height: 1.25;
  text-align: left;
  background-color: #fff;
  box-sizing: border-box;
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: hidden;
}
.nav{
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 0;
  z-index: 101;
  text-align: center;
}
.controller{
  display: inline-block;
  background-color: #838383;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  transform: scale(.5);
}
.controller.is-center{
  transition: transform .5s;
  transform:  scale(1);
  background: url("../icon/icon.svg") #606160  center;
  background-size: cover;
}

.controller.is-center.is-inverse{
  transform: rotateZ(-180deg);

}








